spring:
  application:
    name: sdjpa-multi-db

  docker:
    compose:
      file: compose-mysql.yaml
      enabled: true
      stop:
        command: down

  sql:
    init:
      mode: never

  jpa:
    database: mysql
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  datasource:
    cardholder:
      url: jdbc:mysql://127.0.0.1:3306/cardholderdb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
      username: cardholderuser
      password: password
      hikari:
        poolName: MyHikariPool-Cardholder

    card:
      url: jdbc:mysql://127.0.0.1:3306/carddb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
      username: carduser
      password: password
      hikari:
        poolName: MyHikariPool-Card

    pan:
      url: jdbc:mysql://127.0.0.1:3306/pandb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
      username: panuser
      password: password
      hikari:
        poolName: MyHikariPool-Pan

  flyway:
    enabled: true
    cardholder:
      username: cardholderadmin
      password: password
      url: jdbc:mysql://localhost:3306/cardholderdb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKey
      locations: classpath:/db/migration/cardholder
    card:
      username: cardadmin
      password: password
      url: jdbc:mysql://localhost:3306/carddb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKey
      locations: classpath:/db/migration/creditcard
    pan:
      username: panadmin
      password: password
      url: jdbc:mysql://localhost:3306/pandb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKey
      locations: classpath:/db/migration/pan

management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    access:
      default: unrestricted
    web:
      exposure:
        include: "*"
  endpoint:
    configprops:
      # WARNING: SECURITY RISK - DO NOT USE IN PRODUCTION ENVIRONMENT
      # This configuration exposes sensitive data and should only be used for development or testing purposes.
      # Ensure this is disabled in any environment where security is a concern.
      show-values: ALWAYS
    health:
      probes:
        enabled: true
      show-details: always
  info:
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
    git:
      enabled: true
      mode: full
  httpexchanges:
    recording:
      enabled: true
      include: request_headers, response_headers, session_id, time_taken
  observations:
    annotations:
      enabled: true
    http:
      server:
        requests:
          name: http.server.requests
      client:
        requests:
          name: http-client-requests

  otlp:
    metrics:
      export:
        enabled: false
  tracing:
    export:
      otlp:
        enabled: false
    sampling:
      probability: 1.0

  logging:
    export:
      enabled: false
      otlp:
        enabled: false
  simple:
    metrics:
      export:
        enabled: false

appconfig:
  cache:
    enabled: true

controllers:
  customer-controller:
    request-path: "/api/v1/customer"
  beer-controller:
    request-path: "/api/v1/beer"
  beer-order-controller:
    request-path: "/api/v1/beerOrder"

springdoc:
  show-oauth2-endpoints: true
  api-docs:
    enabled: true
  swagger-ui:
    oauth:
      # do that not on production!
      client-id: messaging-client
      client-secret: secret

logging:
  level:
    org.hibernate.orm.jdbc.bind: INFO

server:
  port: 8080
